<!--Start Navbar  -->
<div class="navbar-wrapper" >
    <div class="container">

      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand navfontfamily" href="#!/">
                Studi<i class="fa fa fa-play-circle-o icon-tby" aria-hidden="true"></i>Buzz</a>
          </div>
        </div>
      </nav>

    </div>
  </div>
<!-- End Navbar -->

<!-- Start Membership greeting panel -->
<div class="container margintop" >
<div class="panel-shadow margintop well well-sm wellborder">

        <h2 class="headingColor text-center">Welcome to StudioBuzz</h2>


    <div class="membershiptermstop membershipterms">

      <h4 class="text-center">Thanks for choosing StudioBuzz as your prime partner, please
      read the terms for membership registration.</h4>

        <p class="text-justify marginall"> &nbsp; To join the StudioBuzz membership you must
          have to provide account information for time to time payment
          transaction ("Payment Request"). We ('StudioBuzz') believe, the provided
          informations are valid and accepted for method of payment,
          which you may update from time to time
          ("Payment Request"). We may in our discretion change these Terms,
          StudioBuzz Conditions of Use, Conditions of Privacy Notice, or
          any aspect of Prime membership, without notice to you.
          If any change to these terms is found invalid, void, or for any reason
          unenforceable, that change is severable and does not affect the
          validity and enforceability of any remaining changes or conditions.
          YOUR CONTINUED MEMBERSHIP AFTER WE CHANGE THESE TERMS CONSTITUTES
          YOUR ACCEPTANCE OF THE CHANGES. IF YOU DO NOT AGREE TO ANY CHANGES,
          YOU MUST CANCEL YOUR MEMBERSHIP.
          </p>

    <h4>Click to proceed, if you agree terms of StudioBuzz</h4>
    <br>
    <a ng-click="model.membershipProceed()" class="btn btn-success marginall">Proceed</a>
    <a ng-click="model.membershipCancel()" class="btn btn-danger marginall">Cancel</a>
    <br>
    </div>

</div>
</div>
<!-- End Membership Account details -->



<!--footer start from here-->
  <div class="footer ">

    <p class="footercontent pull-right">&copy; 2017 StudioBuzz. All rights reserved |
        <a class="membershiplogin marginall cursorpointer" href="#!/privacy-policy">Privacy policy</a>&nbsp;|
         <a class="membershiplogin marginall cursorpointer" href="#!/terms-service">Terms of service</a> &nbsp;
          &nbsp;</p>
  </div>
<!--footer end from here-->
